@import "tailwindcss";





/* .header{
    border:1px solid black;
    display: flex;
     justify-content: space-between;
     align-items: center;
}


.app-logo-container{
    margin-left: 100px;
}

.app-logo{
    width: 100px;

}

.nav-links {
    margin-right: 100px;
}

.nav-links ul{
    display: flex;
    list-style-type: none;  
     gap: 50px;
} 

.nav-links ul li{
    padding: 0px 10px;
    font-size: 25px;
}

.restaurants-list {
    display: flex;
    flex-wrap: wrap;
    gap:10px;
    margin-left: 80px;
    margin-top:20px;
}

.restaurant-container{
    width:200px;
    padding: 5px;
    background-color: #f0f0f0;
    height: 350px;
}

.restaurant-container:hover{
      border:1px solid black;
}

.restaurant-logo{
    width: 100%;
    height:140px;
    object-fit: cover;
    
}

.filtered-btn{
   margin-top: 10px;
    margin-left: 90px;
}

.shimmer-container{
    display: flex;
    flex-wrap: wrap;
    gap:10px;
    margin-left: 80px;
    margin-top:60px;
}

.shimmer-card{
    width:200px;
    padding: 5px;
    background-color: #f0f0f0;
    height: 350px;
}

.login-btn{
    padding: 0pc 14px;
    font-size:20px;
}

.search-container{
    margin-left:90px;
    margin-top:20px;
    margin-bottom: 15px;
}

.user-card{
    border:1px solid black;
    margin:3px;
    padding: 2px;
} */